@import '../../styles/variables';
.Hero {
    background-image: url('../../public/images/hero.jpg');
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;

    display: flex;
    @media screen and (max-width:600px) {
        flex-direction: column-reverse;
    }

    
    div {
        flex-grow: 1;
        margin: 2rem;
        &.search {
            display: flex;
            align-items: center;
            form {
                display: flex;
                align-items: center;
                background-color:$primary;
                border:none;
                border-radius:9999999px;
                padding: 0 1em;
                opacity:0.9;
                width: 100%;
                color: $dark;
                &:hover {
                    opacity: 80%;
                }
    
                input {
                    width: 100%;
                    background-color:transparent;
                    border:none;
                    margin: 1rem;
                    font-family: "iCiel BC Cubano";
                    font-size: medium;
                    &:focus {
                        outline: none;
                    }
                }
            }
            
        }
        &.title {
            display: flex;
            justify-content: space-around;
            text-align: center;
            h1 {
                font-family: "iCiel Brush Up";
                font-size: 4rem;
                line-height: 6rem;
                letter-spacing: 0.5rem;
                @media screen and (min-width: 920px) {
                    font-size: 8rem;
                    line-height: 12rem;
                    letter-spacing: 1rem;
                }
                &.primaryHeader{
                    position:absolute;
                    transform: translate(0, -4rem);
                    color:#6B4D35;
                }
                &.secondaryHeader{
                    position:absolute;
                    transform: translate(0.5rem, -3.5rem);
                    color:#E3CBB8;
                }
            }
        }
    }
    
    
}