@import '../../styles/variables';
.container {
    background-color: $dark;
    font-family: "iCiel BC Old Style";
    color:$primary;
    
    display: grid;
    @media screen and (min-width: 920px) {
        grid-template-columns: auto auto auto;
    }
    div {
        padding: 1rem 4rem;
    }
    h2 {
        font-family: "iCiel BC Cubano";
        color: $secondary;
    }
    ul {
        padding: 0;
        li {
            list-style-type: none;
            padding: 1rem;
            &:hover {
                opacity: 50%;
            }
        }
    }
    .btnDiv{
        display: flex;
        @media screen and (min-width: 920px) {
            flex-direction: column;
        }
        
        justify-content:space-evenly;
        align-items: center;

        border-left: 1px solid $secondary;

        button {
            border-radius: 9999999px;
            border: 0;
            margin-bottom: 1rem;
            padding: 1rem 1rem;
            font-family: "iCiel BC Cubano";
            font-size: xx-large;
            &:hover {
                opacity: 50%;
            }
            
        }
        .btnSecondary {
            background-color: transparent;
            color: $primary;
        }
        .btnPrimary {
            background-color: $primary;
            color:$dark;
        }
    }
}