@import "../../../styles/variables";

.container {
    background-color: $primary;
    color: $dark;
    padding: 2rem;
    .cardContainer {
        @media screen and (min-width: 920px) {
            border-left: black solid 5px;
        }
        
        h2 {
            margin-left: 2rem;
            @media screen and (max-width: 920px) {
                padding-bottom: 1rem;
                border-bottom: black solid 2px;
            }
        }
    }
    .cards{
        display:flex;
        flex-direction: column;
        @media screen and (min-width: 920px) {
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
        }
    }
}