html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

@font-face {
  font-family: "iCiel Brush Up";
  src: url("../public/fonts/brush-up.woff2") format("woff2");
}
@font-face {
  font-family: "iCiel BC Cubano";
  src: url("../public/fonts/iCielBCCubano-Normal.woff2") format("woff2");
}
@font-face {
  font-family: "iCiel BC Old Style";
  src: url("../public/fonts/iCielBCOldStyle-Regular.woff2") format("woff2");
}